#bottom{
    display: flex;
    gap: 10px; 
    overflow-x: scroll; 
}

#bottom div{
    border: 1px solid black;
    background-color: tan;
    padding: 0px 10px;
}

#bottom div img{
    width: 100px;
    height: 300px;
}

.blur{
    opacity: 0.5;
    filter: blur(15px);
}

.hidden{
    display: none;
}