*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(white, #00A7E1 100%);
    margin: 0;
}

/* Begin header styles */
header{
    text-align: center;
    font-size: 25px;
    background-color: #00A7E1;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    border: 4px solid white;
    padding: 8px;
    border-radius: 5px;
}
/* End header styles */


/* mainContent styles */
#mainContent{
    max-width: 1350px;
    margin: 30px auto;
    /* background-image: url("https://images.unsplash.com/photo-1597290282695-edc43d0e7129?crop=faces%2Cedges&cs=tinysrgb&fit=crop&fm=jpg&ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjkyMTM3NjM3fA&ixlib=rb-4.0.3&q=60&w=1200&auto=format&h=630&mark-w=64&mark-align=top%2Cleft&mark-pad=50&blend-mode=normal&blend-alpha=10&blend-w=1&mark=https%3A%2F%2Fimages.unsplash.com%2Fopengraph%2Flogo.png&blend=000000");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}


/* Begin middle div styles */
#middle{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#left{
    width: 300px;
    height: 500px;
    border: 1px solid black;
}

#beerName h2{
    font-size: 35px;
    margin-bottom: 0;
    color: white;
}

#beerName p{
    font-size: 25px;
    font-style: italic;
    color: white;
    margin-top: 5px;
}

#beer-image{
    width: 175px;
    height: 450px;
}

#right{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 500px;
}

#brewersTips, #beerDescription {
    border: 4px solid navy;
    border-radius: 10px;
    padding: 5px;
    background: linear-gradient(white, lightgray);
    color: navy;
}
/* End middle div styles */


/* Begin bottom div styles */
#bottom{
    display: flex;
    gap: 15px; 
    overflow-x: scroll; 
}

#bottom div{
    border: 4px solid navy;
    border-radius: 10px;
    padding: 0px 15px;
    height: 300px;
    position: relative;
    background: linear-gradient(white, lightgray);
    color: navy;
}

#bottom div:hover{
    cursor: pointer;
}

#bottom div h3{
    width: 120px;
    text-align: center;
}

#bottom div img{
    width: 66px;
    height: 200px;
    margin: 0 auto;
    position: absolute;
    bottom: 2px;
    left: 25%;
}
/* End bottom div styles */


/* Class that blurs the background */
.blur{
    opacity: 0.5;
    filter: blur(15px);
}

/* Class that hides something from display */
.hidden{
    display: none;
}